[submodule "Swarm-infra"]
	path = Swarm-infra
	url = https://github.com/Chess-SWARM/Swarm-infra.git
[submodule "Swarm-front"]
	path = Swarm-front
	url = https://github.com/Chess-SWARM/Swarm-front.git
[submodule "Swarm-back"]
	path = Swarm-back
	url = https://github.com/Chess-SWARM/Swarm-back.git
