[submodule "Swarm-infra"]
	path = Infra
	url = https://github.com/Chess-SWARM/Swarm-infra.git
[submodule "Swarm-front"]
	path = Front
	url = https://github.com/Chess-SWARM/Swarm-front.git
[submodule "Swarm-back"]
	path = Back
	url = https://github.com/Chess-SWARM/Swarm-back.git
